.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct__img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutproduct__info {
    padding-left: 20px;

}

.checkoutproduct___info > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutproduct___title {
    font-size: 17px;
    font-weight: 800
}

.checkoutproduct___rating {
    display: flex;
}